.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 1000px;
  padding: 20px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(47, 67, 158);
}

.btn2 {
  margin-left: 900px;
  background-color: #4a89db;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn1 {
  margin-left: 930px;
  background-color: #4a89db;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.inp {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
}

.error {
  border-color: rgb(228, 15, 15);
}
