.details {
  width: 600px;
  height: 300px;
  padding: 20px;
  font-family: "Lucida Console";
  font-size: 20px;
  font-style: oblique;
}

.button {
  background-color: #1a1a5e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 40px;
  cursor: pointer;
}

.t {
  background-color: #1a1a5e;
  font-family: Verdana, sans-serif;
  font-size: 30px;
  color: white;
}

.p {
  border-bottom: 1px solid darkblue;
  font-family: Verdana, sans-serif;
  font-size: 20px;
}
