.header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 10px solid var(--border-color);
  border-left: 10px;
}

.days {
  text-transform: uppercase;
  font-weight: 400;
  height: 50px;
  /* color: rgb(22, 10, 104);*/
  color: #4a89db;
  font-size: 80%;
  padding: 0.75em 0;
  border-bottom: 1px solid #eee;
}

.day {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.day:hover {
  background: rgb(136, 170, 233);
  transition: 0.5s ease-out;
}

.day .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1;
}

.l {
  font-family: Georgia, serif;
  color: rgb(136, 170, 233);
}
